@CHARSET "UTF-8";
.divLeft{
	background:#f2f2f2;
	color:#666;
	width:200px;
	padding:0 0 20px 0;
	position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 3;
}
.divLeft span{
    color:#333;
	cursor:pointer;
	width: 100%;
    height: 46px;
    display: block;
    margin-left: -20px;
    padding-left: 20px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    overflow:hidden;
}
.divLeft span.func{
	border:0 none;
	height: auto;
    line-height:16px;
    margin-bottom: 22px;
}
.divLeft .func s{
	width: 6px;
    height: 6px;
    background: #989b9e;
    display: inline-block !important;
    margin-right: 10px;
    margin-top: -5px;
    vertical-align: middle;
}
.functree li .func s.show{
  background:#428bca;
}
.functree
{
	margin:0;
	padding:0;
	overflow-y:auto;
	overflow-x:hidden;
}
.functree ul,.functree li
{
	list-style-type:none;
	margin:0;
	padding:0;
	}
.functree li
{
	padding-left:20px;
	line-height:50px;
	font-size: 14px;
	box-sizing: border-box;
	border-bottom: 1px solid #ddd;
	display:block;
	overflow:hidden;
	visibility: visible;
}/* 
.functree>li:first-child{
	border-top: 1px solid #ccc;
} */
 .functree li ul{
	display:none;
	padding: 22px 0;
}
.functree li ul li{
 	border:0 none;
 	margin-left: -40px;
    padding-left: 65px;
}
.functree li ul li:last-child span{
	margin-bottom:0;
} 
.functree li span img{
 	display: inline-block;
    margin-right: 15px;
    margin-top: -5px;
    vertical-align: middle;
}
 .functree li span.modules{
 	position:relative;
}
.functree li span.modules:hover{
	background:#eee;
}
 .functree li span.select{
 	background:#ddd;
 	color:#000000;
}
.functree li span i{
	width:10px;
	height:10px;
	background:url(../../images/home/close.png) no-repeat left center;
	position:absolute;
	right:20px;
	top:20px;
	display:block;
}
.functree li.current span i{
	width:10px;
	height:10px;
	background:url(../../images/home/open.png) no-repeat left center;
	position:absolute;
	right:20px;
	top:20px;
	display:block;
}
.functree li span li{
	background: none;
}
#message,#pas,#home{
    display: none;
}
.functree .message,.functree .home{
	border-bottom:0 none;
}