@CHARSET "UTF-8";
/* 消息页样式 */
html,body{
    min-width: 1100px;
    overflow: auto;
}
.list{
    padding:20px;
    overflow:hidden;
    margin-bottom: 20px;
    border:1px solid #dcdcdc;
    font-size: 14px;
    color: #515974;
    background: #fff;
}
.list h4{
    height:30px;
}
.list p{
    line-height: 28px;
}
.list span{
    color:#c5c9cf;
    float:right;
}