<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxc15090111.system.mapper.ProjectModelMapper">

  <resultMap id="BaseResultMap" type="com.gxc15090111.system.model.ProjectModel">
    <id column="p_id" jdbcType="INTEGER" property="p_id" />
    <result column="p_name" jdbcType="VARCHAR" property="p_name" />
    <result column="p_domain" jdbcType="VARCHAR" property="p_domain" />
    <result column="p_appid" jdbcType="VARCHAR" property="p_appid" />
    <result column="p_sercert" jdbcType="VARCHAR" property="p_sercert" />
    <result column="p_org" jdbcType="VARCHAR" property="p_org" />
    <result column="p_desc" jdbcType="VARCHAR" property="p_desc" />
    <result column="p_logo" jdbcType="VARCHAR" property="p_logo" />
    <result column="p_status" jdbcType="TINYINT" property="p_status" />
    <result column="p_createtime" jdbcType="TIMESTAMP" property="p_createtime" />
  </resultMap>

  <select id="findByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
   select p_id, p_name, p_domain, p_appid, p_sercert, p_org, p_desc, p_logo, p_status, p_createtime
     from project
    where p_id = #{p_id,jdbcType=INTEGER}
  </select>
  
</mapper>