<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxc15090111.system.mapper.SysUserRoleModelMapper">
  
  <resultMap id="BaseResultMap" type="com.gxc15090111.system.model.SysUserRoleModel">
    <id column="ur_id" jdbcType="INTEGER" property="ur_id" />
    <result column="ref_u_id" jdbcType="INTEGER" property="ref_u_id" />
    <result column="ref_r_id" jdbcType="INTEGER" property="ref_r_id" />
  </resultMap>

  <delete id="deleteByUserid" parameterType="java.lang.Integer">
    delete from sys_user_role
    where ref_u_id = #{ref_u_id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteBatchByRefUid" parameterType="com.gxc15090111.system.common.DeleteParameter" >
     delete from sys_user_role
     where ref_u_id in
	   <foreach collection="idArray" item ="item" index="i" open="(" separator="," close=")">  
	     #{item}
	  </foreach>
  </delete>
  
  <insert id="insert" parameterType="com.gxc15090111.system.model.SysUserRoleModel">
    insert into sys_user_role (ref_u_id, ref_r_id)
    values (#{ref_u_id,jdbcType=INTEGER}, #{ref_r_id,jdbcType=INTEGER})
  </insert>

  <insert id="insertList" parameterType="com.gxc15090111.system.model.SysUserRoleModel">
    insert into sys_user_role (ref_u_id, ref_r_id)
    values 
    <foreach collection="list" item="item" index="index" separator="," >
        (#{item.ref_u_id,jdbcType=INTEGER}, #{item.ref_r_id,jdbcType=INTEGER})
    </foreach> 
  </insert>

  
</mapper>