<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyu.system.mapper.SysModuleMenuModelMapper">

  <resultMap id="BaseResultMap" type="com.wangyu.system.model.SysModuleMenuModel">
    <id column="mm_id" jdbcType="INTEGER" property="mm_id" />
    <result column="ref_m_id" jdbcType="INTEGER" property="ref_m_id" />
    <result column="mm_name" jdbcType="VARCHAR" property="mm_name" />
    <result column="mm_url" jdbcType="VARCHAR" property="mm_url" />
    <result column="mm_order" jdbcType="INTEGER" property="mm_order" />
    <result column="mm_desc" jdbcType="VARCHAR" property="mm_desc" />
    <result column="mm_status" jdbcType="TINYINT" property="mm_status" />
    <result column="mm_createtime" jdbcType="TIMESTAMP" property="mm_createtime" />
  </resultMap>

  <select id="findAllModuleMenu" resultType="com.wangyu.system.entity.ModuleMenuQueryResult">
		select  
				m.m_id, m.m_type, m.m_name, m.m_image, m.m_order, 
				mm.mm_id, mm.mm_name, mm.mm_url, mm.mm_order
		from sys_module_menu mm
		inner join sys_module m on mm.ref_m_id = m.m_id
		where mm.mm_status = 0
		and m.m_status = 0 
		order by m.m_order, mm.mm_order
  </select>
  
  <select id="findModuleMenuByRoleId" parameterType="java.lang.Integer" resultType="com.wangyu.system.entity.ModuleMenuQueryResult">
		select distinct 
				m.m_id, m.m_type, m.m_name, m.m_image, m.m_order, 
				mm.mm_id, mm.mm_name, mm.mm_url, mm.mm_order
		from ( 
			select rm.ref_mm_id from sys_role_menu rm where rm.ref_r_id = #{roleId, jdbcType=INTEGER}
		) rm
		inner join sys_module_menu mm on rm.ref_mm_id = mm.mm_id
		inner join sys_module m on mm.ref_m_id = m.m_id
		where mm.mm_status = 0
		and m.m_status = 0 
		order by m.m_order, m.m_name, mm.mm_order
  </select>
  
  <select id="findModuleMenuByUserId" parameterType="java.lang.Integer" resultType="com.wangyu.system.entity.ModuleMenuQueryResult">
		select distinct 
				m.m_id, m.m_type, m.m_name, m.m_image, m.m_order, 
				mm.mm_id, mm.mm_name, mm.mm_url, mm.mm_order
		from ( 
			select r.* from sys_user_role ur inner join sys_role r on ur.ref_r_id = r.r_id
			where ur.ref_u_id = #{userId, jdbcType=INTEGER}
		) r
		inner join sys_role_menu rm on r.r_id = rm.ref_r_id
		inner join sys_module_menu mm on rm.ref_mm_id = mm.mm_id
		inner join sys_module m on mm.ref_m_id = m.m_id
		where r.r_status = 0
		and mm.mm_status = 0
		and m.m_status = 0 
		order by m.m_order, m.m_name, mm.mm_order
  </select>

</mapper>