<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyu.system.mapper.SysUserModelMapper">
  
  <resultMap id="BaseResultMap" type="com.wangyu.system.model.SysUserModel">
    <id column="u_id" jdbcType="INTEGER" property="u_id" />
    <result column="ref_p_id" jdbcType="INTEGER" property="ref_p_id" />
    <result column="u_logname" jdbcType="VARCHAR" property="u_logname" />
    <result column="u_realname" jdbcType="VARCHAR" property="u_realname" />
    <result column="u_password" jdbcType="VARCHAR" property="u_password" />
    <result column="u_email" jdbcType="VARCHAR" property="u_email" />
    <result column="u_mobilephone" jdbcType="VARCHAR" property="u_mobilephone" />
    <result column="u_lastlogintime" jdbcType="TIMESTAMP" property="u_lastlogintime" />
    <result column="u_status" jdbcType="TINYINT" property="u_status" />
    <result column="u_isadmin" jdbcType="TINYINT" property="u_isadmin" />
    <result column="u_createtime" jdbcType="TIMESTAMP" property="u_createtime" />
    <result column="u_updatetime" jdbcType="TIMESTAMP" property="u_updatetime" />
    <result column="u_del" jdbcType="INTEGER" property="u_del" />
  </resultMap>
  
  <update id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    	 update sys_user
            set u_del = 1
          where u_id = #{u_id,jdbcType=INTEGER}
  </update>
  
  <update id="deleteBatch" parameterType="com.wangyu.system.common.DeleteParameter" >
     update sys_user
        set u_del = 1
      where ref_p_id = #{ref_p_id}
        and u_id in
	   <foreach collection="idArray" item ="item" index="i" open="(" separator="," close=")">  
	     #{item}
	  </foreach>
  </update>
  
  <insert id="insert" parameterType="com.wangyu.system.model.SysUserModel" useGeneratedKeys="true" keyProperty="u_id">
    insert into sys_user (ref_p_id, u_logname,  u_realname, u_password, u_email,
      					u_mobilephone, u_status, u_createtime, u_updatetime)
    values (#{ref_p_id,jdbcType=INTEGER}, #{u_logname,jdbcType=VARCHAR}, #{u_realname,jdbcType=VARCHAR}, #{u_password,jdbcType=VARCHAR}, #{u_email,jdbcType=VARCHAR}, 
      		#{u_mobilephone,jdbcType=VARCHAR}, #{u_status,jdbcType=TINYINT}, now(), now())
  </insert>
  
  <update id="updateByPrimaryKey" parameterType="com.wangyu.system.model.SysUserModel">
   update sys_user
      set 
      	  u_logname = #{u_logname,jdbcType=VARCHAR},
	      u_realname = #{u_realname,jdbcType=VARCHAR},
	      u_email = #{u_email,jdbcType=VARCHAR},
	      u_mobilephone = #{u_mobilephone,jdbcType=VARCHAR},
	      u_status = #{u_status,jdbcType=TINYINT},
	      u_updatetime = now()
    where u_id = #{u_id}
      and ref_p_id = #{ref_p_id}
      and u_del = 0
  </update>

  <update id="updateStatus" parameterType="com.wangyu.system.model.SysUserModel">
   update sys_user
      set u_status = #{u_status,jdbcType=TINYINT},
	      u_updatetime = now()
    where u_id = #{u_id,jdbcType=INTEGER}
	  and ref_p_id = #{ref_p_id,jdbcType=INTEGER}
	  and u_del = 0
  </update>

	<update id="updatePassword" parameterType="com.wangyu.system.parameter.ChangePasswordParameter">
		update sys_user u
		   set u.u_password = #{newPassword}
		 where u.u_id = #{uid}
		   and u.ref_p_id = #{pid}
		   and u.u_password = #{oldPassword}
		   and u_del = 0
	</update>

	<update id="updatePasswordByAdmin" parameterType="com.wangyu.system.model.SysUserModel">
		update sys_user u
		   set u.u_password = #{u_password}
		 where u.u_id = #{u_id}
		   and u.ref_p_id = #{ref_p_id}
		   and u_del = 0
	</update>

	<update id="updateLastlogintime" parameterType="java.lang.Integer">
		update sys_user u
		   set u.u_lastlogintime = now()
		 where u.u_id = #{uid}
		   and u_del = 0
	</update>
	
  <select id="findCountByPage" parameterType="com.wangyu.system.parameter.SysUserPageQueryParameter" resultType="java.lang.Integer">
	     select count(0)
		   from sys_user
	      where u_del = 0
			and ref_p_id = #{ref_p_id}

	    <if test="ref_u_id_array != null">
			AND u_id in
			<foreach collection="ref_u_id_array" item ="item" index="i" open="(" separator="," close=")">  
						#{item}
			</foreach>
		</if>
		
		<if test="u_id != null">
			and u_id = #{u_id}
		</if>

		<if test="u_id_not_equals != null">
			and u_id != #{u_id_not_equals}
		</if>
		
		<if test="u_isadmin_not_equals != null">
			and u_isadmin != 1
		</if>
				
		<if test="u_logname != ''">
			and u_logname like CONCAT('%',#{u_logname},'%')
		</if>

		<if test="u_realname != ''">
			and u_realname like CONCAT('%',#{u_realname},'%')
		</if>

		<if test="u_email != ''">
			and u_email like CONCAT('%',#{u_email},'%')
		</if>

		<if test="u_mobilephone != ''">
			and u_mobilephone like CONCAT('%',#{u_mobilephone},'%')
		</if>

		<if test="u_status != null">
			and u_status = #{u_status}
		</if>
  </select>
  
  <select id="findByPage" parameterType="com.wangyu.system.parameter.SysUserPageQueryParameter" resultMap="BaseResultMap">
	     select u.u_id, u.ref_p_id, u.u_logname, u.u_realname, u.u_email, u.u_mobilephone, u.u_lastlogintime, 
	     		u.u_status, u.u_isadmin, u.u_createtime, u.u_updatetime, u.u_del, p.p_domain
		   from sys_user u, project p
	      where u.u_del = 0
			and u.ref_p_id = #{ref_p_id}
			and u.ref_p_id = p.p_id

	    <if test="ref_u_id_array != null">
			AND u.u_id in
			<foreach collection="ref_u_id_array" item ="item" index="i" open="(" separator="," close=")">  
						#{item}
			</foreach>
		</if>
				
		<if test="u_id != null">
			and u.u_id = #{u_id}
		</if>
				
		<if test="u_id_not_equals != null">
			and u.u_id != #{u_id_not_equals}
		</if>
		
		<if test="u_isadmin_not_equals != null">
			and u.u_isadmin != 1
		</if>
		
		<if test="u_logname != ''">
			and u.u_logname like CONCAT('%',#{u_logname},'%')
		</if>

		<if test="u_realname != ''">
			and u.u_realname like CONCAT('%',#{u_realname},'%')
		</if>

		<if test="u_email != ''">
			and u.u_email like CONCAT('%',#{u_email},'%')
		</if>

		<if test="u_mobilephone != ''">
			and u.u_mobilephone like CONCAT('%',#{u_mobilephone},'%')
		</if>

		<if test="u_status != null">
			and u.u_status = #{u_status}
		</if>
		
		<if test=" sort != ''">
		  order by ${sort} 
			<if test=" order != ''">
				${order}
		  	</if>
		</if>

		<if test=" pageQuery ">
			limit ${offset}, ${limit}
	  	</if>
  </select>
  	  
  <select id="findByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
   select u_id, ref_p_id, u_logname, u_realname, u_email, u_mobilephone, u_lastlogintime, u_status, u_isadmin, u_createtime, u_updatetime, u_del
     from sys_user
    where u_id = #{u_id,jdbcType=INTEGER}
      and u_del = 0
  </select>

  <select id="findByPrimaryKeyIncludePassword" parameterType="java.lang.Integer" resultMap="BaseResultMap">
   select u_id, ref_p_id, u_logname, u_realname, u_password, u_email, u_mobilephone, u_lastlogintime, u_status, u_isadmin, u_createtime, u_updatetime, u_del
     from sys_user
    where u_id = #{u_id,jdbcType=INTEGER}
      and u_del = 0
  </select>

  <select id="findCountOfUlogname" parameterType="com.wangyu.system.parameter.SysUserPageQueryParameter" resultType="java.lang.Integer">
   select count(1)
     from sys_user
    where u_logname = #{u_logname}
      and u_del = 0
      and ref_p_id = #{ref_p_id}
      <if test="u_id != null">
			and u_id != #{u_id}
	  </if>
  </select>
  
  <select id="findUserForLogin" parameterType="com.wangyu.system.parameter.UserLoginParameter" resultType="com.wangyu.system.response.UserLoginResponse">
	select u.u_id, u.u_logname, u.u_realname, u.u_password, u.u_status, u.ref_p_id, p.p_domain, u.u_isadmin
	  from sys_user u left join project p on u.ref_p_id = p.p_id
	 where u.u_del = 0
	   and u.u_logname = #{logname}
	   and p.p_domain = #{domain}
  </select>
  
  <!-- 查询角色关联的用户数 -->
  <select id="findRoleUserCount" parameterType="com.wangyu.system.common.DeleteParameter" resultType="com.wangyu.system.model.SysRoleUserCountModel">
	SELECT r.r_id, r.r_name, count(u.u_id) as user_count
	  FROM sys_user u, sys_role r, sys_user_role ur
	 WHERE u.u_id = ur.ref_u_id
	   AND u.u_del = 0
	   AND r.r_del = 0
	   AND ur.ref_r_id = r.r_id
	   AND u.ref_p_id = #{ref_p_id}
	   AND r.ref_p_id = #{ref_p_id}
 	   AND r.r_id in
	   <foreach collection="idArray" item ="item" index="i" open="(" separator="," close=")">  
	     #{item}
	  </foreach>
  GROUP BY r.r_id, r.r_name
  </select>
  
  <!-- 查询管理员用户 -->
  <select id="findAdminUser" parameterType="com.wangyu.system.common.DeleteParameter" resultMap="BaseResultMap">
		SELECT u_id, ref_p_id, u_logname, u_realname, u_password, u_email, u_mobilephone, u_lastlogintime, u_status, u_isadmin, u_createtime, u_updatetime
		  FROM sys_user
		 WHERE ref_p_id = #{ref_p_id}
		   and u_del = 0
		   AND u_isadmin = 1
		   AND u_id in
		   <foreach collection="idArray" item ="item" index="i" open="(" separator="," close=")">  
		     #{item}
		  </foreach>
  </select>
  
  
</mapper>