<?xml version='1.0' encoding='utf-8'?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                <!--
                %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
                -->
                %d{yyyy-MM-dd HH:mm:ss} [%thread] %5p %c{5}:%L - %m%n
            </Pattern>
        </layout>
    </appender>

    <logger name="com.gxc15090111.garage" level="debug"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>