<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyu.prm.mapper.RoleMenuModelMapper">
  
  <resultMap id="BaseResultMap" type="com.wangyu.prm.model.RoleMenuModel">
    <id column="rm_id" jdbcType="INTEGER" property="rm_id" />
    <result column="ref_r_id" jdbcType="INTEGER" property="ref_r_id" />
    <result column="ref_mm_id" jdbcType="INTEGER" property="ref_mm_id" />
  </resultMap>
  
  <delete id="deleteByRoleid" parameterType="java.lang.Integer">
    delete from role_menu
    where ref_r_id = #{ref_r_id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByRoleidArray" parameterType="com.wangyu.prm.common.DeleteParameter">
    delete from role_menu
     where ref_r_id in
	   <foreach collection="idArray" item ="item" index="i" open="(" separator="," close=")">  
	     #{item}
	  </foreach>
  </delete>
 
  <insert id="insert" parameterType="com.wangyu.prm.model.RoleMenuModel">
    insert into role_menu (ref_r_id, ref_mm_id)
    values (#{ref_r_id,jdbcType=INTEGER}, #{ref_mm_id,jdbcType=INTEGER})
  </insert>
  
  <insert id="insertList" parameterType="com.wangyu.prm.model.RoleMenuModel" useGeneratedKeys="true" keyProperty="rm_id">
    insert into role_menu (ref_r_id, ref_mm_id)
    values 
    <foreach collection="list" item="item" index="index" separator="," >
        (#{item.ref_r_id,jdbcType=INTEGER}, #{item.ref_mm_id,jdbcType=INTEGER})
    </foreach> 
  </insert>
</mapper>