<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wangyu.mapper.SysUserMapper">

    <update id="updateLastlogintime" parameterType="java.lang.Integer">
		update sys_user u
		   set u.lastlogintime = now()
		 where u.id = #{uid}
		   and del = 0
	</update>
</mapper>
