<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxc15090111.garage.mapper.PriceUnitMapper">
  <resultMap id="BaseResultMap" type="com.gxc15090111.garage.entity.PriceUnit">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="unit" jdbcType="BIGINT" property="unit" />
    <result column="uname" jdbcType="VARCHAR" property="uname" />
  </resultMap>
  <sql id="Base_Column_List">
    id, unit, uname
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from price_unit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from price_unit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gxc15090111.garage.entity.PriceUnit">
    insert into price_unit (id, unit, uname
      )
    values (#{id,jdbcType=INTEGER}, #{unit,jdbcType=BIGINT}, #{uname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gxc15090111.garage.entity.PriceUnit">
    insert into price_unit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="uname != null">
        uname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=BIGINT},
      </if>
      <if test="uname != null">
        #{uname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gxc15090111.garage.entity.PriceUnit">
    update price_unit
    <set>
      <if test="unit != null">
        unit = #{unit,jdbcType=BIGINT},
      </if>
      <if test="uname != null">
        uname = #{uname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gxc15090111.garage.entity.PriceUnit">
    update price_unit
    set unit = #{unit,jdbcType=BIGINT},
      uname = #{uname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>